<h2 class="main__title">PROFILE</h2>

<div class="profile__container">
  <p><strong>NAME:</strong>
    <%= @user.name %></p>
  <p><strong>EMAIL:</strong>
    <%= @user.email %></p>

  <div class="btn-container">
    <%= link_to "Edit Profile", users_edit_path, :class => 'btn' %>
  </div>
</div>
