<h2 class="main__title">User Profile</h2>

<p>Name: <%= @user.name %></p>
<p>Email: <%= @user.email %></p>

<p><%= @user.name %></p>
<div class="btn-container">
  <%= link_to "Edit Profile", users_edit_path, :class => 'btn' %>
</div>
