<h2 class="main__title">Blobs</h2>

<button id="play" class="btn">Play</button>
<button id="stop" class="btn">Stop</button>
<button id="snapshot" class="btn">Snapshot</button>

<style>
  #blob-svg {
    chart rect {
      fill: white;
    }

    #blob-svg text {
      fill: white;
      font: 10px sans-serif;
      text-anchor: middle;
    }

</style>

<div class="tooltip">
  <div class="line1"></div>
  <div class="line2">Input signal: <span class="line2-details"></span></div>
</div>

<svg id="blob-svg"></svg>
<!-- <div class="chart"></div> -->

<%= javascript_include_tag 'd3.v3.min.js' %>
<%= javascript_include_tag 'blob.js' %>
