<h2 class="main__title">Blobs</h2>

<button id="play" class="btn">Play</button>
<button id="stop" class="btn">Stop</button>
<button id="snapshot" class="btn">Snapshot</button>


<svg id ="blob-svg"></svg>
<!-- <div class="chart"></div> -->

<%= javascript_include_tag 'd3.v3.min.js' %>
<%= javascript_include_tag 'blob.js' %>
