<h2 class="main__title">DRUMS</h2>



<div class="btn-container">
  <div id="cymbal" class="btn">Cymbal</div>
  <div id="snare" class="btn">Snare</div>
  <div id="hi-hat" class="btn">Hi Hat</div>
  <div id="bass" class="btn">Bass Drum</div>
  <div id="fini" class="btn">Fini</div>
  <div id="start" class="btn">Start</div>
  <div id="pause" class="btn">Pause</div>
</div>



<div class="drum-monster__container">

  <svg id="Layer_1" class="drums__svg" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 702.9 403.2">
    <title>monster-drums-160510</title>
    <rect x="87.6" y="147.6" width="6.9" height="150.16" style="fill: #4d4d4d;stroke: #000;stroke-linejoin: round;stroke-width: 2.348929107388755px"/>
    <rect x="620.7" y="176.6" width="12" height="53.28" style="fill: #4d4d4d;stroke: #000;stroke-linejoin: round;stroke-width: 3px"/>
    <g id="bass">
      <path d="M640.2,357.6h62.3c26.1,0,47.3,39.5,47.3,88.2S728.6,534,702.5,534H640.2" transform="translate(-77.7 -132.4)" style="fill: #736357;stroke: #000;stroke-linejoin: round;stroke-width: 3px"/>
      <ellipse cx="562.5" cy="313.5" rx="47.3" ry="88.2" style="fill: #998675;stroke: #000;stroke-linejoin: round;stroke-width: 3px"/>
    </g>
    <g id="pedal">
      <rect x="579.3" y="470.5" width="15.3" height="58.8" transform="translate(-170.4 3.5) rotate(-12.2)" style="fill: #4d4d4d;stroke: #000;stroke-linejoin: round;stroke-width: 3px"/>
      <circle cx="501.6" cy="335.3" r="23.7" style="fill: #4d4d4d;stroke: #000;stroke-linejoin: round;stroke-width: 3px"/>
    </g>
    <polygon points="80.7 390.6 94 390.6 118 337.7 115 319.6 80.7 390.6" style="fill: #4d4d4d;stroke: #000;stroke-linejoin: round;stroke-width: 3px"/>
    <polygon points="161.7 390.6 148.4 390.6 124.5 337.7 127.4 319.6 161.7 390.6" style="fill: #4d4d4d;stroke: #000;stroke-linejoin: round;stroke-width: 3px"/>
    <rect x="114.1" y="280.1" width="13.3" height="110.52" style="fill: #4d4d4d;stroke: #000;stroke-linejoin: round;stroke-width: 3px"/>
    <rect x="441.7" y="388.1" width="84.6" height="13.12" style="fill: #4d4d4d;stroke: #000;stroke-linejoin: round;stroke-width: 3px"/>
    <path d="M779.1,314.5c0,7.6-33.5,13.7-74.7,13.7s-74.7-6.1-74.7-13.7L700.4,287a8.7,8.7,0,0,1,5.8,0Z" transform="translate(-77.7 -132.4)" style="fill: #fbb03b;stroke: #000;stroke-linejoin: round;stroke-width: 3px"/>
    <g id="body">
      <path d="M492.2,475.4a55.3,55.3,0,0,1,36.7,9.6c15.5,10.7,12.2,34.5-5.6,40.5s-46.3,11.4-75.2,3.5a27.6,27.6,0,0,1-20.2-24.2l-1.8-20.3" transform="translate(-77.7 -132.4)" style="fill: #534741;stroke: #000;stroke-miterlimit: 10;stroke-width: 3px"/>
      <path d="M343,475.4a55.3,55.3,0,0,0-36.7,9.6c-15.5,10.7-12.2,34.5,5.6,40.5s46.3,11.4,75.2,3.5a27.6,27.6,0,0,0,20.2-24.2l1.8-20.3" transform="translate(-77.7 -132.4)" style="fill: #534741;stroke: #000;stroke-miterlimit: 10;stroke-width: 3px"/>
      <path d="M550.8,358.5c0,46.7-11.9,89.5-31.6,122.5-65.7,13.3-139,18.7-202,.1-19.7-33-31.7-75.8-31.7-122.6,0-104.4,59.4-189,132.6-189S550.8,254.1,550.8,358.5Z" transform="translate(-77.7 -132.4)" style="fill: #0071bc;stroke: #000;stroke-miterlimit: 10;stroke-width: 3px"/>
      <g>
        <ellipse cx="306.6" cy="107.8" rx="22.1" ry="26.4" style="fill: #fff;stroke: #000;stroke-miterlimit: 10;stroke-width: 3px"/>
        <ellipse cx="309.9" cy="115.8" rx="9.5" ry="11.2" style="stroke: #000;stroke-miterlimit: 10;stroke-width: 3px"/>
      </g>
      <g>
        <ellipse cx="363" cy="107.8" rx="22.1" ry="26.4" style="fill: #fff;stroke: #000;stroke-miterlimit: 10;stroke-width: 3px"/>
        <ellipse cx="359.8" cy="113.6" rx="9.5" ry="11.2" style="stroke: #000;stroke-miterlimit: 10;stroke-width: 3px"/>
      </g>
      <g>
        <path d="M361.4,284.8l3,25.8h22.8L366,283A2.5,2.5,0,0,0,361.4,284.8Z" transform="translate(-77.7 -132.4)" style="fill: #fff;stroke: #000;stroke-miterlimit: 10;stroke-width: 3px"/>
        <path d="M460.9,310.6l3-25.8a2.5,2.5,0,0,0-4.5-1.8l-21.3,27.6h22.8Z" transform="translate(-77.7 -132.4)" style="fill: #fff;stroke: #000;stroke-miterlimit: 10;stroke-width: 3px"/>
        <line x1="309.3" y1="178.3" x2="360.3" y2="178.3" style="fill: #fff;stroke: #000;stroke-miterlimit: 10;stroke-width: 3px"/>
      </g>
      <line x1="364.8" y1="31.8" x2="364.8" y2="31.8" style="fill: #c1272d;stroke: #000;stroke-miterlimit: 10;stroke-width: 3px"/>
    </g>
    <g id="left-arm">
      <path d="M331.9,322.3s19,40.2,0,60.3-74.5,6.2-68.5-30.4c3-18.2,38.6-38.1,38.6-38.1" transform="translate(-77.7 -132.4)" style="fill: #0071bc;stroke: #000;stroke-miterlimit: 10;stroke-width: 3px"/>
    </g>
    <g id="arm-right">
      <path d="M513.6,343.5s25,36.7,52,30.5,43-61.1,8.4-74.5c-17.2-6.6-52.4,14-52.4,14" transform="translate(-77.7 -132.4)" style="fill: #0071bc;stroke: #000;stroke-miterlimit: 10;stroke-width: 3px"/>
    </g>
    <g id="hat">
      <path d="M493.7,178.3a104.2,104.2,0,0,1-19.9,5.5" transform="translate(-77.7 -132.4)" style="fill: #c1272d;stroke: #000;stroke-miterlimit: 10;stroke-width: 3px"/>
      <path d="M409.7,169.2a65.7,65.7,0,0,1-10.3-8.8" transform="translate(-77.7 -132.4)" style="fill: #c1272d;stroke: #000;stroke-miterlimit: 10;stroke-width: 3px"/>
      <path d="M473.5,183.8a84.6,84.6,0,0,1-64-14.5h0C410.5,167.9,463.9,81.5,473.5,183.8Z" transform="translate(-77.7 -132.4)" style="fill: #c1272d;stroke: #000;stroke-miterlimit: 10;stroke-width: 3px"/>
    </g>
    <g id="snare">
      <path d="M263,387.7c0,9.2-29,16.6-64.7,16.6s-64.7-7.4-64.7-16.6,29-16.6,64.7-16.6S263,378.5,263,387.7Z" transform="translate(-77.7 -132.4)" style="fill: #c7b299;stroke: #000;stroke-miterlimit: 10;stroke-width: 3px"/>
      <path d="M263.5,419.6s-6.7,15.8-65.1,15.8c-60.5,0-64.9-15.8-64.9-15.8l0.2-31.9c0,9.2,29,16.6,64.7,16.6s64.7-7.4,64.7-16.6Z" transform="translate(-77.7 -132.4)" style="fill: #c69c6d;stroke: #000;stroke-miterlimit: 10;stroke-width: 3px"/>
      <line x1="66.8" y1="270.9" x2="66.8" y2="289.5" style="fill: none;stroke: #000;stroke-miterlimit: 10;stroke-width: 3px"/>
      <line x1="79.5" y1="275.8" x2="79.5" y2="294.4" style="fill: none;stroke: #000;stroke-miterlimit: 10;stroke-width: 3px"/>
      <line x1="93.5" y1="279.2" x2="93.5" y2="297.8" style="fill: none;stroke: #000;stroke-miterlimit: 10;stroke-width: 3px"/>
      <line x1="108.3" y1="280.2" x2="108.3" y2="298.8" style="fill: none;stroke: #000;stroke-miterlimit: 10;stroke-width: 3px"/>
      <line x1="123.6" y1="280.2" x2="123.6" y2="298.8" style="fill: none;stroke: #000;stroke-miterlimit: 10;stroke-width: 3px"/>
      <line x1="138.9" y1="279.2" x2="138.9" y2="297.8" style="fill: none;stroke: #000;stroke-miterlimit: 10;stroke-width: 3px"/>
      <line x1="152.4" y1="277.2" x2="152.4" y2="295.8" style="fill: none;stroke: #000;stroke-miterlimit: 10;stroke-width: 3px"/>
      <line x1="164.9" y1="274.9" x2="164.9" y2="293.5" style="fill: none;stroke: #000;stroke-miterlimit: 10;stroke-width: 3px"/>
      <line x1="175.6" y1="270.9" x2="175.6" y2="289.5" style="fill: none;stroke: #000;stroke-miterlimit: 10;stroke-width: 3px"/>
    </g>
    <path id="cymbal-top" d="M779.1,304c0,7.6-33.5,13.7-74.7,13.7s-74.7-6.1-74.7-13.7l70.8-27.4a8.7,8.7,0,0,1,5.8,0Z" transform="translate(-77.7 -132.4)" style="fill: #fbb03b;stroke: #000;stroke-linejoin: round;stroke-width: 3px"/>
    <path id="cymbal-top-2" data-name="cymbal-top" d="M263.5,285.7c0,3.9-41.3,7-92.3,7s-92.3-3.1-92.3-7l87.4-14.1a25.3,25.3,0,0,1,7.2,0Z" transform="translate(-77.7 -132.4)" style="fill: #f2953b;stroke: #000;stroke-linejoin: round;stroke-width: 2.3868896752393525px"/>
    <path id="stick-right" d="M550.6,331.5l-6.4-11.7,82.5-42.6,20.3-8.9a2.4,2.4,0,0,1,2.3,4.3l-18.7,12.4Z" transform="translate(-77.7 -132.4)" style="fill: #998675;stroke: #000;stroke-linejoin: round;stroke-width: 3px"/>
    <path id="stick-left" d="M308.2,357.7l3.1-13-90.8-19.3-21.9-3.3a2.4,2.4,0,0,0-1.1,4.7l21.3,7.1Z" transform="translate(-77.7 -132.4)" style="fill: #998675;stroke: #000;stroke-linejoin: round;stroke-width: 3px"/>
    <path d="M703,533.7" transform="translate(-77.7 -132.4)" style="fill: #998675;stroke: #000;stroke-linejoin: round;stroke-width: 3px"/>
    <path d="M640,533.6" transform="translate(-77.7 -132.4)" style="fill: #998675;stroke: #000;stroke-linejoin: round;stroke-width: 3px"/>
    <path d="M640.2,534" transform="translate(-77.7 -132.4)" style="fill: #998675;stroke: #000;stroke-linejoin: round;stroke-width: 3px"/>
  </svg>
</div>

<div class="drums__instructions">
  Keyboard: [H]: hi-hat, [B]: bass drum, [S]: snare, [W]: cymbal
</div>

<%= javascript_include_tag 'drums.js' %>
