<h1>Home</h1>
<div id="play">Play</div>
<div id="pause">Pause</div>
<canvas id="canvas" width="512" height="256" ></canvas>

<div class="monster__container">
  <%= image_tag 'monster.png', :class => 'monster__craig' %>
</div>
