<h1>Home</h1>
<div id="play">Play</div>
<div id="pause">Pause</div>

<div>
  <canvas id="canvas__equalizer" class="canvas__equalizer"></canvas>
  <canvas id="canvas__volume" class="canvas__volume"></canvas>
</div>

<div class="monster__container">
  <%= image_tag 'monster.png', :class => 'monster__craig' %>
</div>
