<div class="monster-family__container">
  <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 439.3 279.9">
    <title>monster-summary</title>
    <g id="dj">
      <path d="M225,313.7a12.3,12.3,0,0,1,8.2,2.1,5.1,5.1,0,0,1-1.3,9,28.8,28.8,0,0,1-16.7.8,6.1,6.1,0,0,1-4.5-5.4l-0.4-4.5" transform="translate(-119.8 -202)" style="fill: #534741;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.6680846879342206px"/>
      <path d="M170.2,313.7a12.3,12.3,0,0,0-8.2,2.1,5.1,5.1,0,0,0,1.3,9,28.8,28.8,0,0,0,16.7.8,6.1,6.1,0,0,0,4.5-5.4l0.4-4.5" transform="translate(-119.8 -202)" style="fill: #534741;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.6680846879342206px"/>
      <path d="M236.1,278.7c0,13.3-3.5,25.4-9.2,34.8-19.1,3.8-40.4,5.3-58.7,0-5.7-9.4-9.2-21.5-9.2-34.8,0-29.7,17.3-53.7,38.5-53.7S236.1,249,236.1,278.7Z" transform="translate(-119.8 -202)" style="fill: #93278f;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.8690115044376542px"/>
      <g>
        <ellipse cx="69.6" cy="44.5" rx="6.3" ry="7.6" style="fill: #fff;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.8613183987966686px"/>
        <ellipse cx="70.5" cy="46.7" rx="2.7" ry="3.2" style="stroke: #000;stroke-miterlimit: 10;stroke-width: 0.8613183987966686px"/>
      </g>
      <g>
        <ellipse cx="85.8" cy="44.5" rx="6.3" ry="7.6" style="fill: #fff;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.8613183987966686px"/>
        <ellipse cx="84.9" cy="46.1" rx="2.7" ry="3.2" style="stroke: #000;stroke-miterlimit: 10;stroke-width: 0.8613183987966686px"/>
      </g>
      <g id="mouth">
        <path d="M182.8,259.2l0.9,7.4h6.5l-6.1-7.9A0.7,0.7,0,0,0,182.8,259.2Z" transform="translate(-119.8 -202)" style="fill: #fff;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.8613183987966686px"/>
        <path d="M211.4,266.6l0.9-7.4a0.7,0.7,0,0,0-1.3-.5l-6.1,7.9h6.5Z" transform="translate(-119.8 -202)" style="fill: #fff;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.8613183987966686px"/>
        <line x1="70.4" y1="64.7" x2="85" y2="64.7" style="fill: #fff;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.8613183987966686px"/>
      </g>
      <line x1="83.1" y1="42.8" x2="83.1" y2="42.8" style="fill: #c1272d;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.6680846879342206px"/>
      <g id="hat">
        <path d="M214,226.9a23.2,23.2,0,0,1-4.4,1.2" transform="translate(-119.8 -202)" style="fill: #c1272d;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.6680846879342206px"/>
        <path d="M195.3,224.9a14.6,14.6,0,0,1-2.3-2" transform="translate(-119.8 -202)" style="fill: #c1272d;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.6680846879342206px"/>
        <path d="M209.5,228.1a18.8,18.8,0,0,1-14.3-3.2h0C195.5,224.6,207.4,205.3,209.5,228.1Z" transform="translate(-119.8 -202)" style="fill: #c1272d;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.6680846879342206px"/>
      </g>
      <polygon points="142.6 102.5 12.7 102.5 21 88.5 134.3 88.5 142.6 102.5" style="fill: #4d4d4d;stroke: #000;stroke-linecap: round;stroke-linejoin: round;stroke-width: 0.8911710014343263px"/>
      <ellipse cx="106.9" cy="95.3" rx="24.9" ry="5.2" style="fill: #999;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.8912616032444972px"/>
      <g id="right-arm">
        <path d="M218.5,281.2s-11.7,8.9-4.2,13.4,29.5,1.4,27.1-6.8c-1.2-4-11.2-8.5-11.2-8.5" transform="translate(-119.8 -202)" style="fill: #93278f;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.8912616032444972px"/>
      </g>
      <ellipse cx="48.2" cy="95.3" rx="24.9" ry="5.2" style="fill: #999;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.8912616032444972px"/>
      <g id="left-arm">
        <path d="M176.2,281.2s11.7,8.9,4.2,13.4-29.5,1.4-27.1-6.8c1.2-4,11.2-8.5,11.2-8.5" transform="translate(-119.8 -202)" style="fill: #93278f;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.8912616032444972px"/>
      </g>
      <rect x="12.7" y="102.5" width="129.9" height="5.21" style="fill: #4d4d4d;stroke: #000;stroke-linejoin: round;stroke-width: 0.8911710014343263px"/>
      <rect x="136.8" y="107.7" width="5.9" height="17.3" style="fill: #4d4d4d;stroke: #000;stroke-linejoin: round;stroke-width: 0.8911710014343263px"/>
      <rect x="12.7" y="107.7" width="5.9" height="17.3" style="fill: #4d4d4d;stroke: #000;stroke-linejoin: round;stroke-width: 0.8911710014343263px"/>
    </g>
    <g id="drums">
      <rect x="136.3" y="205.8" width="1.9" height="42.18" style="fill: #4d4d4d;stroke: #000;stroke-linejoin: round;stroke-width: 0.659758370696769px"/>
      <rect x="286.1" y="213.9" width="3.4" height="14.96" style="fill: #4d4d4d;stroke: #000;stroke-linejoin: round;stroke-width: 0.8426287135973283px"/>
      <g id="bass">
        <path d="M389.5,429.6H407c7.3,0,13.3,11.1,13.3,24.8s-5.9,24.8-13.3,24.8H389.5" transform="translate(-119.8 -202)" style="fill: #736357;stroke: #000;stroke-linejoin: round;stroke-width: 0.8426287135973283px"/>
        <ellipse cx="269.7" cy="252.4" rx="13.3" ry="24.8" style="fill: #998675;stroke: #000;stroke-linejoin: round;stroke-width: 0.8426287135973283px"/>
      </g>
      <g id="pedal">
        <rect x="372.4" y="461.3" width="4.3" height="16.52" transform="translate(-210.9 -111.8) rotate(-12.2)" style="fill: #4d4d4d;stroke: #000;stroke-linejoin: round;stroke-width: 0.8426287135973283px"/>
        <circle cx="252.6" cy="258.5" r="6.6" style="fill: #4d4d4d;stroke: #000;stroke-linejoin: round;stroke-width: 0.8426287135973283px"/>
      </g>
      <polygon points="134.4 274.1 138.1 274.1 144.9 259.2 144 254.1 134.4 274.1" style="fill: #4d4d4d;stroke: #000;stroke-linejoin: round;stroke-width: 0.8426287135973283px"/>
      <polygon points="157.1 274.1 153.4 274.1 146.7 259.2 147.5 254.1 157.1 274.1" style="fill: #4d4d4d;stroke: #000;stroke-linejoin: round;stroke-width: 0.8426287135973283px"/>
      <rect x="143.8" y="243" width="3.7" height="31.04" style="fill: #4d4d4d;stroke: #000;stroke-linejoin: round;stroke-width: 0.8426287135973283px"/>
      <rect x="235.8" y="273.4" width="23.8" height="3.69" style="fill: #4d4d4d;stroke: #000;stroke-linejoin: round;stroke-width: 0.8426287135973283px"/>
      <path d="M428.5,417.4c0,2.1-9.4,3.8-21,3.8s-21-1.7-21-3.8l19.9-7.7a2.4,2.4,0,0,1,1.6,0Z" transform="translate(-119.8 -202)" style="fill: #fbb03b;stroke: #000;stroke-linejoin: round;stroke-width: 0.8426287135973283px"/>
      <g id="body">
        <path d="M348,462.6a15.5,15.5,0,0,1,10.3,2.7,6.4,6.4,0,0,1-1.6,11.4,36.3,36.3,0,0,1-21.1,1,7.8,7.8,0,0,1-5.7-6.8l-0.5-5.7" transform="translate(-119.8 -202)" style="fill: #534741;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.8426287135973283px"/>
        <path d="M306,462.6a15.5,15.5,0,0,0-10.3,2.7,6.4,6.4,0,0,0,1.6,11.4,36.3,36.3,0,0,0,21.1,1,7.8,7.8,0,0,0,5.7-6.8l0.5-5.7" transform="translate(-119.8 -202)" style="fill: #534741;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.8426287135973283px"/>
        <path d="M364.4,429.8c0,13.1-3.3,25.1-8.9,34.4-18.5,3.7-39,5.2-56.7,0-5.5-9.3-8.9-21.3-8.9-34.4,0-29.3,16.7-53.1,37.3-53.1S364.4,400.5,364.4,429.8Z" transform="translate(-119.8 -202)" style="fill: #0071bc;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.8426287135973283px"/>
        <g>
          <ellipse cx="197.8" cy="194.6" rx="6.2" ry="7.4" style="fill: #fff;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.8426287135973283px"/>
          <ellipse cx="198.8" cy="196.9" rx="2.7" ry="3.2" style="stroke: #000;stroke-miterlimit: 10;stroke-width: 0.8426287135973283px"/>
        </g>
        <g>
          <ellipse cx="213.7" cy="194.6" rx="6.2" ry="7.4" style="fill: #fff;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.8426287135973283px"/>
          <ellipse cx="212.8" cy="196.2" rx="2.7" ry="3.2" style="stroke: #000;stroke-miterlimit: 10;stroke-width: 0.8426287135973283px"/>
        </g>
        <g>
          <path d="M311.2,409.1l0.9,7.3h6.4l-6-7.8A0.7,0.7,0,0,0,311.2,409.1Z" transform="translate(-119.8 -202)" style="fill: #fff;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.8426287135973283px"/>
          <path d="M339.2,416.4l0.9-7.3a0.7,0.7,0,0,0-1.3-.5l-6,7.8h6.4Z" transform="translate(-119.8 -202)" style="fill: #fff;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.8426287135973283px"/>
          <line x1="198.6" y1="214.4" x2="212.9" y2="214.4" style="fill: #fff;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.8426287135973283px"/>
        </g>
        <line x1="214.2" y1="173.3" x2="214.2" y2="173.3" style="fill: #c1272d;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.8426287135973283px"/>
      </g>
      <g id="left-arm-2" data-name="left-arm">
        <path d="M302.9,419.7s5.3,11.3,0,16.9-20.9,1.7-19.2-8.6c0.8-5.1,10.9-10.7,10.9-10.7" transform="translate(-119.8 -202)" style="fill: #0071bc;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.8426287135973283px"/>
      </g>
      <g id="arm-right">
        <path d="M354,425.6s7,10.3,14.6,8.6,12.1-17.2,2.4-20.9c-4.8-1.9-14.7,3.9-14.7,3.9" transform="translate(-119.8 -202)" style="fill: #0071bc;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.8426287135973283px"/>
      </g>
      <g id="hat-2" data-name="hat">
        <path d="M348.4,379.2a29.3,29.3,0,0,1-5.6,1.5" transform="translate(-119.8 -202)" style="fill: #c1272d;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.8426287135973283px"/>
        <path d="M324.8,376.7a18.5,18.5,0,0,1-2.9-2.5" transform="translate(-119.8 -202)" style="fill: #c1272d;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.8426287135973283px"/>
        <path d="M342.7,380.7a23.7,23.7,0,0,1-18-4.1h0C325,376.3,340,352,342.7,380.7Z" transform="translate(-119.8 -202)" style="fill: #c1272d;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.8426287135973283px"/>
      </g>
      <g id="snare">
        <ellipse cx="145.6" cy="236.1" rx="18.2" ry="4.7" style="fill: #c7b299;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.8426287135973283px"/>
        <path d="M283.7,447s-1.9,4.4-18.3,4.4-18.2-4.4-18.2-4.4v-9c0,2.6,8.1,4.7,18.2,4.7s18.2-2.1,18.2-4.7v9Z" transform="translate(-119.8 -202)" style="fill: #c69c6d;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.8426287135973283px"/>
        <line x1="130.5" y1="240.4" x2="130.5" y2="245.7" style="fill: none;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.8426287135973283px"/>
        <line x1="134" y1="241.8" x2="134" y2="247" style="fill: none;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.8426287135973283px"/>
        <line x1="138" y1="242.8" x2="138" y2="248" style="fill: none;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.8426287135973283px"/>
        <line x1="142.1" y1="243" x2="142.1" y2="248.3" style="fill: none;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.8426287135973283px"/>
        <line x1="146.4" y1="243" x2="146.4" y2="248.3" style="fill: none;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.8426287135973283px"/>
        <line x1="150.7" y1="242.8" x2="150.7" y2="248" style="fill: none;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.8426287135973283px"/>
        <line x1="154.5" y1="242.2" x2="154.5" y2="247.4" style="fill: none;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.8426287135973283px"/>
        <line x1="158" y1="241.5" x2="158" y2="246.8" style="fill: none;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.8426287135973283px"/>
        <line x1="161" y1="240.4" x2="161" y2="245.7" style="fill: none;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.8426287135973283px"/>
      </g>
      <path id="cymbal-top" d="M428.5,414.5c0,2.1-9.4,3.8-21,3.8s-21-1.7-21-3.8l19.9-7.7a2.4,2.4,0,0,1,1.6,0Z" transform="translate(-119.8 -202)" style="fill: #fbb03b;stroke: #000;stroke-linejoin: round;stroke-width: 0.8426287135973283px"/>
      <path id="cymbal-top-2" data-name="cymbal-top" d="M283.7,409.4c0,1.1-11.6,2-25.9,2s-25.9-.9-25.9-2l24.6-3.9h2Z" transform="translate(-119.8 -202)" style="fill: #f2953b;stroke: #000;stroke-linejoin: round;stroke-width: 0.6704205921818934px"/>
      <path id="stick-right" d="M364.3,422.2l-1.8-3.3,23.2-12,5.7-2.5a0.7,0.7,0,0,1,.7,1.2l-5.3,3.5Z" transform="translate(-119.8 -202)" style="fill: #998675;stroke: #000;stroke-linejoin: round;stroke-width: 0.8426287135973283px"/>
      <path id="stick-left" d="M296.3,429.6l0.9-3.6-25.5-5.4-6.2-.9a0.7,0.7,0,0,0-.3,1.3l6,2Z" transform="translate(-119.8 -202)" style="fill: #998675;stroke: #000;stroke-linejoin: round;stroke-width: 0.8426287135973283px"/>
      <path d="M407.2,479" transform="translate(-119.8 -202)" style="fill: #998675;stroke: #000;stroke-linejoin: round;stroke-width: 0.8426287135973283px"/>
      <path d="M389.5,479" transform="translate(-119.8 -202)" style="fill: #998675;stroke: #000;stroke-linejoin: round;stroke-width: 0.8426287135973283px"/>
      <path d="M389.5,479.1" transform="translate(-119.8 -202)" style="fill: #998675;stroke: #000;stroke-linejoin: round;stroke-width: 0.8426287135973283px"/>
    </g>
    <g id="piano">
      <g id="body-2" data-name="body">
        <path d="M180.5,466.3a14.5,14.5,0,0,1,9.7,2.5,6,6,0,0,1-1.5,10.7,34,34,0,0,1-19.8.9,7.3,7.3,0,0,1-5.3-6.4l-0.5-5.3" transform="translate(-119.8 -202)" style="fill: #534741;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.789410828471844px"/>
        <path d="M141.2,466.3a14.5,14.5,0,0,0-9.7,2.5,6,6,0,0,0,1.5,10.7,34,34,0,0,0,19.8.9,7.3,7.3,0,0,0,5.3-6.4l0.5-5.3" transform="translate(-119.8 -202)" style="fill: #534741;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.789410828471844px"/>
        <path d="M195.9,434.8c0,12.1-3.1,23.2-8.3,31.7-17.3,3.4-36.6,4.8-53.1,0-5.2-8.5-8.3-19.6-8.3-31.8,0-27,15.6-49,34.9-49S195.9,407.8,195.9,434.8Z" transform="translate(-119.8 -202)" style="fill: #f7931e;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.789410828471844px"/>
        <g>
          <ellipse cx="32.3" cy="202.5" rx="5.8" ry="7" style="fill: #fff;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.789410828471844px"/>
          <ellipse cx="33.2" cy="204.6" rx="2.5" ry="3" style="stroke: #000;stroke-miterlimit: 10;stroke-width: 0.789410828471844px"/>
        </g>
        <g>
          <ellipse cx="47.1" cy="202.5" rx="5.8" ry="7" style="fill: #fff;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.789410828471844px"/>
          <ellipse cx="46.3" cy="204" rx="2.5" ry="3" style="stroke: #000;stroke-miterlimit: 10;stroke-width: 0.789410828471844px"/>
        </g>
        <g>
          <path d="M146.1,416.2l0.8,6.8h6l-5.6-7.3A0.7,0.7,0,0,0,146.1,416.2Z" transform="translate(-119.8 -202)" style="fill: #fff;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.789410828471844px"/>
          <path d="M172.3,423l0.8-6.8a0.7,0.7,0,0,0-1.2-.5l-5.6,7.3h6Z" transform="translate(-119.8 -202)" style="fill: #fff;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.789410828471844px"/>
          <line x1="33" y1="221" x2="46.4" y2="221" style="fill: #fff;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.789410828471844px"/>
        </g>
        <line x1="47.6" y1="182.5" x2="47.6" y2="182.5" style="fill: #c1272d;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.789410828471844px"/>
      </g>
      <g id="left-arm-3" data-name="left-arm">
        <path d="M138.3,426.1s5,10.6,0,15.9-19.6,1.6-18-8c0.8-4.8,10.2-10,10.2-10" transform="translate(-119.8 -202)" style="fill: #f7931e;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.789410828471844px"/>
      </g>
      <g id="hat-3" data-name="hat">
        <path d="M180.9,388.2a27.4,27.4,0,0,1-5.2,1.4" transform="translate(-119.8 -202)" style="fill: #c1272d;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.789410828471844px"/>
        <path d="M158.8,385.8a17.3,17.3,0,0,1-2.7-2.3" transform="translate(-119.8 -202)" style="fill: #c1272d;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.789410828471844px"/>
        <path d="M175.6,389.6a22.2,22.2,0,0,1-16.9-3.8h0C159,385.4,173,362.7,175.6,389.6Z" transform="translate(-119.8 -202)" style="fill: #c1272d;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.789410828471844px"/>
      </g>
      <g id="left-arm-4" data-name="left-arm">
        <path d="M184.1,426.1s-5,10.6,0,15.9,19.6,1.6,18-8c-0.8-4.8-10.2-10-10.2-10" transform="translate(-119.8 -202)" style="fill: #f7931e;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.789410828471844px"/>
      </g>
    </g>
    <g id="dance">
      <g id="body-3" data-name="body">
        <path d="M532.2,463.4a17,17,0,0,1,11.3,3,7.1,7.1,0,0,1-1.7,12.5,39.8,39.8,0,0,1-23.2,1.1,8.5,8.5,0,0,1-6.2-7.4l-0.6-6.3" transform="translate(-119.8 -202)" style="fill: #534741;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.9248667529989518px"/>
        <path d="M486.2,463.4a17,17,0,0,0-11.3,3,7.1,7.1,0,0,0,1.7,12.5,39.8,39.8,0,0,0,23.2,1.1,8.5,8.5,0,0,0,6.2-7.4l0.6-6.3" transform="translate(-119.8 -202)" style="fill: #534741;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.9248667529989518px"/>
        <path d="M550.2,431.9a57.7,57.7,0,0,1-9.7,32.7c-20.3,3.6-42.8,5-62.3,0a57.7,57.7,0,0,1-9.8-32.7c0-27.9,18.3-50.5,40.9-50.5S550.2,404.1,550.2,431.9Z" transform="translate(-119.8 -202)" style="fill: #39b54a;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.9248667529989518px"/>
        <g>
          <ellipse cx="379.1" cy="201.3" rx="6.8" ry="8.2" style="fill: #fff;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.9248667529989518px"/>
          <ellipse cx="380.1" cy="203.8" rx="2.9" ry="3.5" style="stroke: #000;stroke-miterlimit: 10;stroke-width: 0.9248667529989518px"/>
        </g>
        <g>
          <ellipse cx="396.5" cy="201.3" rx="6.8" ry="8.2" style="fill: #fff;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.9248667529989518px"/>
          <ellipse cx="395.5" cy="203.1" rx="2.9" ry="3.5" style="stroke: #000;stroke-miterlimit: 10;stroke-width: 0.9248667529989518px"/>
        </g>
        <g>
          <path d="M491.8,417l0.9,7.9h7l-6.6-8.5A0.8,0.8,0,0,0,491.8,417Z" transform="translate(-119.8 -202)" style="fill: #fff;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.9248667529989518px"/>
          <path d="M522.5,424.9l0.9-7.9a0.8,0.8,0,0,0-1.4-.6l-6.6,8.5h7Z" transform="translate(-119.8 -202)" style="fill: #fff;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.9248667529989518px"/>
          <line x1="380.2" y1="223.5" x2="395.2" y2="223.5" style="fill: #fff;stroke: #000;stroke-miterlimit: 10"/>
        </g>
        <line x1="397" y1="177.9" x2="397" y2="177.9" style="fill: #c1272d;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.9248667529989518px"/>
      </g>
      <g id="left-arm-5" data-name="left-arm">
        <path d="M482.7,428.6s5.8,12.4,0,18.6-23,1.9-21.1-9.4c0.9-5.6,11.9-11.8,11.9-11.8" transform="translate(-119.8 -202)" style="fill: #39b54a;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.9248667529989518px"/>
      </g>
      <g id="hat-4" data-name="hat">
        <path d="M532.6,384.2a32.1,32.1,0,0,1-6.1,1.7" transform="translate(-119.8 -202)" style="fill: #c1272d;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.9248667529989518px"/>
        <path d="M506.7,381.4a20.3,20.3,0,0,1-3.2-2.7" transform="translate(-119.8 -202)" style="fill: #c1272d;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.9248667529989518px"/>
        <path d="M526.2,385.9c-9.2,1.6-16.7-1.8-19.7-4.5h0C506.5,381,523.3,354.4,526.2,385.9Z" transform="translate(-119.8 -202)" style="fill: #c1272d;stroke: #000;stroke-miterlimit: 10"/>
      </g>
      <g id="arm-right-2" data-name="arm-right">
        <path d="M537.4,428.6s-5.8,12.4,0,18.6,23,1.9,21.1-9.4c-0.9-5.6-11.9-11.8-11.9-11.8" transform="translate(-119.8 -202)" style="fill: #39b54a;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.9248667529989518px"/>
      </g>
    </g>
    <g id="_3d" data-name="3d">
      <g id="body-4" data-name="body">
        <path d="M355.5,311.7a14.3,14.3,0,0,1,9.5,2.5,5.9,5.9,0,0,1-1.5,10.5,33.5,33.5,0,0,1-19.5.9,7.2,7.2,0,0,1-5.3-6.3l-0.5-5.3" transform="translate(-119.8 -202)" style="fill: #534741;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.7784706050854789px"/>
        <path d="M304.3,311.7a14.3,14.3,0,0,0-9.5,2.5,5.9,5.9,0,0,0,1.5,10.5,33.5,33.5,0,0,0,19.5.9,7.2,7.2,0,0,0,5.3-6.3l0.5-5.3" transform="translate(-119.8 -202)" style="fill: #534741;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.7784706050854789px"/>
        <path d="M370.7,282a50,50,0,0,1-9.8,30.1c-20.3,3.3-43,4.6-62.5,0a50,50,0,0,1-9.8-30.1c0-25.6,18.4-46.4,41-46.4S370.7,256.3,370.7,282Z" transform="translate(-119.8 -202)" style="fill: #c1272d;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.8333365296549553px"/>
        <g>
          <g>
            <ellipse cx="202.5" cy="51.7" rx="5.7" ry="6.9" style="fill: #fff;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.7784706050854789px"/>
            <ellipse cx="203.4" cy="53.8" rx="2.5" ry="2.9" style="stroke: #000;stroke-miterlimit: 10;stroke-width: 0.7784706050854789px"/>
          </g>
          <g>
            <ellipse cx="217.2" cy="51.7" rx="5.7" ry="6.9" style="fill: #fff;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.7784706050854789px"/>
            <ellipse cx="216.4" cy="53.2" rx="2.5" ry="2.9" style="stroke: #000;stroke-miterlimit: 10;stroke-width: 0.7784706050854789px"/>
          </g>
          <g>
            <path d="M316.4,265.3l0.8,6.7h5.9l-5.5-7.2A0.7,0.7,0,0,0,316.4,265.3Z" transform="translate(-119.8 -202)" style="fill: #fff;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.7784706050854789px"/>
            <path d="M342.2,272l0.8-6.7a0.7,0.7,0,0,0-1.2-.5l-5.5,7.2h5.9Z" transform="translate(-119.8 -202)" style="fill: #fff;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.7784706050854789px"/>
            <line x1="203.3" y1="70" x2="216.5" y2="70" style="fill: #fff;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.7784706050854789px"/>
          </g>
        </g>
        <line x1="222.8" y1="29" x2="222.8" y2="29" style="fill: #c1272d;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.7784706050854789px"/>
      </g>
      <g id="left-arm-6" data-name="left-arm">
        <path d="M300.1,272s4.9,10.4,0,15.6-19.3,1.6-17.8-7.9c0.8-4.7,10-9.9,10-9.9" transform="translate(-119.8 -202)" style="fill: #c1272d;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.7784706050854789px"/>
      </g>
      <g id="hat-5" data-name="hat">
        <path d="M351.6,238.1a27,27,0,0,1-5.2,1.4" transform="translate(-119.8 -202)" style="fill: #fcee21;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.7784706050854789px"/>
        <path d="M329.8,235.8a17.1,17.1,0,0,1-2.7-2.3" transform="translate(-119.8 -202)" style="fill: #fcee21;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.7784706050854789px"/>
        <path d="M346.3,239.6a21.9,21.9,0,0,1-16.6-3.8h0C330,235.5,343.8,213,346.3,239.6Z" transform="translate(-119.8 -202)" style="fill: #fcee21;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.7784706050854789px"/>
      </g>
      <g id="left-arm-7" data-name="left-arm">
        <path d="M359,272s-4.9,10.4,0,15.6,19.3,1.6,17.8-7.9c-0.8-4.7-10-9.9-10-9.9" transform="translate(-119.8 -202)" style="fill: #c1272d;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.7784706050854789px"/>
      </g>
    </g>
    <g id="snapshot">
      <g>
        <rect x="253.5" y="1.2" width="54" height="33.35" style="fill: #fff"/>
        <path d="M426.1,204.4v30.9H374.5V204.4h51.5m2.5-2.5H372v35.8h56.5V202h0Z" transform="translate(-119.8 -202)"/>
      </g>
      <rect x="306.8" width="1.9" height="80.37"/>
      <path d="M485.2,310.4a16,16,0,0,1,10.7,2.8,6.6,6.6,0,0,1-1.6,11.8,37.5,37.5,0,0,1-21.8,1,8,8,0,0,1-5.9-7l-0.5-5.9" transform="translate(-119.8 -202)" style="fill: #534741;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.8711492976209358px"/>
      <path d="M446.6,310.4a16,16,0,0,0-10.7,2.8,6.6,6.6,0,0,0,1.6,11.8,37.5,37.5,0,0,0,21.8,1,8,8,0,0,0,5.9-7l0.5-5.9" transform="translate(-119.8 -202)" style="fill: #534741;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.8711492976209358px"/>
      <path d="M497,277.1c0,12.8-2.9,24.6-7.6,33.7-15.8,3.7-33.5,5.1-48.6,0-4.8-9.1-7.6-20.8-7.6-33.7,0-28.7,14.3-52,31.9-52S497,248.4,497,277.1Z" transform="translate(-119.8 -202)" style="fill: #fcee21;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.7778981595266125px"/>
      <g>
        <g>
          <ellipse cx="337" cy="43.5" rx="6.4" ry="7.7" style="fill: #fff;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.8711492976209358px"/>
          <ellipse cx="338" cy="45.8" rx="2.8" ry="3.3" style="stroke: #000;stroke-miterlimit: 10;stroke-width: 0.8711492976209358px"/>
        </g>
        <g>
          <ellipse cx="353.4" cy="43.5" rx="6.4" ry="7.7" style="fill: #fff;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.8711492976209358px"/>
          <ellipse cx="352.5" cy="45.2" rx="2.8" ry="3.3" style="stroke: #000;stroke-miterlimit: 10;stroke-width: 0.8711492976209358px"/>
        </g>
        <g>
          <path d="M450.2,258.4l0.9,7.5h6.6l-6.2-8A0.7,0.7,0,0,0,450.2,258.4Z" transform="translate(-119.8 -202)" style="fill: #fff;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.8711492976209358px"/>
          <path d="M479.1,265.9l0.9-7.5a0.7,0.7,0,0,0-1.3-.5l-6.2,8h6.6Z" transform="translate(-119.8 -202)" style="fill: #fff;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.8711492976209358px"/>
          <line x1="337.8" y1="63.9" x2="352.6" y2="63.9" style="fill: #fff;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.8711492976209358px"/>
        </g>
      </g>
      <line x1="353.2" y1="18" x2="353.2" y2="18" style="fill: #c1272d;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.8711492976209358px"/>
      <g id="left-arm-8" data-name="left-arm">
        <path d="M445.3,271.4s5.5,11.7,0,17.5-21.6,1.8-19.9-8.8c0.9-5.3,11.2-11.1,11.2-11.1" transform="translate(-119.8 -202)" style="fill: #fcee21;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.8711492976209358px"/>
      </g>
      <g id="hat-6" data-name="hat">
        <path d="M483.1,228a30.3,30.3,0,0,1-5.8,1.6" transform="translate(-119.8 -202)" style="fill: #754c24;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.8711492976209358px"/>
        <path d="M458.7,225.4a19.1,19.1,0,0,1-3-2.6" transform="translate(-119.8 -202)" style="fill: #754c24;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.8711492976209358px"/>
        <path d="M477.2,229.6a24.6,24.6,0,0,1-18.6-4.2h0C458.9,225,474.4,199.9,477.2,229.6Z" transform="translate(-119.8 -202)" style="fill: #754c24;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.8711492976209358px"/>
      </g>
      <g id="left-arm-9" data-name="left-arm">
        <path d="M484.8,271.4s-5.5,11.7,0,17.5,21.6,1.8,19.9-8.8c-0.9-5.3-11.2-11.1-11.2-11.1" transform="translate(-119.8 -202)" style="fill: #fcee21;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.8711492976209358px"/>
      </g>
      <text transform="translate(267.1 27)" style="font-size: 14.806374549865723px;font-family: Helvetica Neue;font-weight: 700">MM</text>
      <text transform="translate(259.6 10.2) scale(0.7)" style="font-size: 8.572111129760742px;font-family: Helvetica">INPUT</text>
      <text transform="translate(277.6 10.2)" style="font-size: 8.572111129760742px;font-family: Helvetica"> </text>
      <text transform="translate(280 10.2) scale(0.7)" style="font-size: 8.572111129760742px;font-family: Helvetica">SIGNAL</text>
    </g>
  </svg>
  </div>
