<h2 class="main__title">Instrument</h2>

<div class="btn-container">
  <div id="play" class="btn">Play</div>
  <div id="pause" class="btn">Pause</div>
  <div>Note: <span class="piano__note"></span></div>
</div>


<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 402.8 178.9">
  <title>keyboard-2</title>
  <rect id="C4" x="0.5" y="61.6" width="50.2" height="116.84" style="fill: #fff;stroke: #000;stroke-miterlimit: 10"/>
  <rect id="D4" x="50.7" y="61.6" width="50.2" height="116.84" style="fill: #fff;stroke: #000;stroke-miterlimit: 10"/>
  <rect id="E4" x="101" y="61.6" width="50.2" height="116.84" style="fill: #fff;stroke: #000;stroke-miterlimit: 10"/>
  <rect id="F4" x="151.2" y="61.6" width="50.2" height="116.84" style="fill: #fff;stroke: #000;stroke-miterlimit: 10"/>
  <rect id="G4" x="201.4" y="61.6" width="50.2" height="116.84" style="fill: #fff;stroke: #000;stroke-miterlimit: 10"/>
  <rect id="A4" x="251.6" y="61.6" width="50.2" height="116.84" style="fill: #fff;stroke: #000;stroke-miterlimit: 10"/>
  <rect id="B4" x="301.9" y="61.6" width="50.2" height="116.84" style="fill: #fff;stroke: #000;stroke-miterlimit: 10"/>
  <rect id="C5" x="352.1" y="61.6" width="50.2" height="116.84" style="fill: #fff;stroke: #000;stroke-miterlimit: 10"/>
  <rect id="Db4" x="32.6" y="61.6" width="36.3" height="76.56" style="stroke: #000;stroke-miterlimit: 10"/>
  <rect id="Eb4" x="82.8" y="61.6" width="36.3" height="76.56" style="stroke: #000;stroke-miterlimit: 10"/>
  <rect id="F#4" x="183.3" y="61.6" width="36.3" height="76.56" style="stroke: #000;stroke-miterlimit: 10"/>
  <rect id="Ab4" x="233.5" y="61.6" width="36.3" height="76.56" style="stroke: #000;stroke-miterlimit: 10"/>
  <rect id="Bb4" x="283.7" y="61.6" width="36.3" height="76.56" style="stroke: #000;stroke-miterlimit: 10"/>
  <g id="monster">
    <g id="body">
      <path d="M355.5,164.4a7.4,7.4,0,0,1,4.9,1.3,3.1,3.1,0,0,1-.8,5.4,17.3,17.3,0,0,1-10.1.5,3.7,3.7,0,0,1-2.7-3.2l-0.2-2.7" transform="translate(-320.1 -118.5)" style="fill: #534741;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.40165212750434875px"/>
      <path d="M335.5,164.4a7.4,7.4,0,0,0-4.9,1.3,3.1,3.1,0,0,0,.8,5.4,17.3,17.3,0,0,0,10.1.5,3.7,3.7,0,0,0,2.7-3.2l0.2-2.7" transform="translate(-320.1 -118.5)" style="fill: #534741;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.40165212750434875px"/>
      <path d="M363.4,148.4a31.3,31.3,0,0,1-4.2,16.1c-8.8,1.8-18.6,2.5-27,0a31.3,31.3,0,0,1-4.2-16.2c0-13.8,8-24.9,17.8-24.9S363.4,134.6,363.4,148.4Z" transform="translate(-320.1 -118.5)" style="fill: #f7931e;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.40165212750434875px"/>
      <g>
        <ellipse cx="21" cy="14.4" rx="3" ry="3.5" style="fill: #fff;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.40165212750434875px"/>
        <ellipse cx="21.4" cy="15.5" rx="1.3" ry="1.5" style="stroke: #000;stroke-miterlimit: 10;stroke-width: 0.40165212750434875px"/>
      </g>
      <g>
        <ellipse cx="28.5" cy="14.4" rx="3" ry="3.5" style="fill: #fff;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.40165212750434875px"/>
        <ellipse cx="28.1" cy="15.2" rx="1.3" ry="1.5" style="stroke: #000;stroke-miterlimit: 10;stroke-width: 0.40165212750434875px"/>
      </g>
      <g>
        <path d="M338,138.9l0.4,3.5h3l-2.8-3.7A0.3,0.3,0,0,0,338,138.9Z" transform="translate(-320.1 -118.5)" style="fill: #fff;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.40165212750434875px"/>
        <path d="M351.3,142.4l0.4-3.5a0.3,0.3,0,0,0-.6-0.2l-2.8,3.7h3Z" transform="translate(-320.1 -118.5)" style="fill: #fff;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.40165212750434875px"/>
        <line x1="21.3" y1="23.9" x2="28.2" y2="23.9" style="fill: #fff;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.40165212750434875px"/>
      </g>
      <line x1="28.8" y1="4.3" x2="28.8" y2="4.3" style="fill: #c1272d;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.40165212750434875px"/>
    </g>
    <g id="left-arm">
      <path d="M334.1,143.9s2.5,5.4,0,8.1-10,.8-9.2-4.1c0.4-2.4,5.2-5.1,5.2-5.1" transform="translate(-320.1 -118.5)" style="fill: #f7931e;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.40165212750434875px"/>
    </g>
    <g id="hat">
      <path d="M355.7,124.6l-2.7.7" transform="translate(-320.1 -118.5)" style="fill: #c1272d;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.40165212750434875px"/>
      <path d="M344.5,123.4a8.8,8.8,0,0,1-1.4-1.2" transform="translate(-320.1 -118.5)" style="fill: #c1272d;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.40165212750434875px"/>
      <path d="M353,125.4a11.3,11.3,0,0,1-8.6-1.9h0C344.6,123.3,351.7,111.7,353,125.4Z" transform="translate(-320.1 -118.5)" style="fill: #c1272d;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.40165212750434875px"/>
    </g>
    <g id="left-arm-2" data-name="left-arm">
      <path d="M357.3,143.9s-2.5,5.4,0,8.1,10,0.8,9.2-4.1c-0.4-2.4-5.2-5.1-5.2-5.1" transform="translate(-320.1 -118.5)" style="fill: #f7931e;stroke: #000;stroke-miterlimit: 10;stroke-width: 0.40165212750434875px"/>
    </g>
  </g>
</svg>

<%= javascript_include_tag 'instrument.js' %>

<!--  ADD A DRUM BEAT  -->
