<h2 class="main__title">Instrument</h2>

<div class="btn-container">
  <div id="play" class="btn">Play</div>
  <div id="pause" class="btn">Pause</div>
  <div>Note: <span class="piano__note"></span></div>
</div>

<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 402.8 117.8">
  <title>keyboard-1</title>
  <rect id="C4" x="0.5" y="0.5" width="50.2" height="116.84" style="fill: #fff;stroke: #000;stroke-miterlimit: 10"/>
  <rect id="D4" x="50.7" y="0.5" width="50.2" height="116.84" style="fill: #fff;stroke: #000;stroke-miterlimit: 10"/>
  <rect id="E4" x="101" y="0.5" width="50.2" height="116.84" style="fill: #fff;stroke: #000;stroke-miterlimit: 10"/>
  <rect id="F4" x="151.2" y="0.5" width="50.2" height="116.84" style="fill: #fff;stroke: #000;stroke-miterlimit: 10"/>
  <rect id="G4" x="201.4" y="0.5" width="50.2" height="116.84" style="fill: #fff;stroke: #000;stroke-miterlimit: 10"/>
  <rect id="A4" x="251.6" y="0.5" width="50.2" height="116.84" style="fill: #fff;stroke: #000;stroke-miterlimit: 10"/>
  <rect id="B4" x="301.9" y="0.5" width="50.2" height="116.84" style="fill: #fff;stroke: #000;stroke-miterlimit: 10"/>
  <rect id="C5" x="352.1" y="0.5" width="50.2" height="116.84" style="fill: #fff;stroke: #000;stroke-miterlimit: 10"/>
  <rect id="Db4" x="32.6" y="0.5" width="36.3" height="76.56" style="stroke: #000;stroke-miterlimit: 10"/>
  <rect id="Eb4" x="82.8" y="0.5" width="36.3" height="76.56" style="stroke: #000;stroke-miterlimit: 10"/>
  <rect id="F#4" x="183.3" y="0.5" width="36.3" height="76.56" style="stroke: #000;stroke-miterlimit: 10"/>
  <rect id="Ab4" x="233.5" y="0.5" width="36.3" height="76.56" style="stroke: #000;stroke-miterlimit: 10"/>
  <rect id="Bb4" x="283.7" y="0.5" width="36.3" height="76.56" style="stroke: #000;stroke-miterlimit: 10"/>
</svg>

<%= javascript_include_tag 'instrument.js' %>

<!--  ADD A DRUM BEAT  -->
