<%= javascript_include_tag 'three.js' %>
<%= javascript_include_tag 'orbitControls.js' %>
<%= javascript_include_tag 'sounds-3d.js' %>

<h2 class="main__title">Sounds 3D</h2>

<div class="sounds__container"></div>
