.snapshot__tooltip {
  opacity: 0;
  position: absolute;
  display: inline-block;
  text-align: center;
  // width: 60px;
  min-height: 30px;
  padding: 1em;

  background: tomato;
  z-index: 10;
  top: 0;
}

.snapshot__tooltip--line1 {
  font-style: italic;
}

.snapshot__tooltip--line2 {
  font-size: 0.8em;
}

.snapshot__tooltip--line2-details {
  font-weight: 900;
  font-size: 1rem;
}

.snapshot-svg {
  border-bottom: 1px solid white;
}
