.canvas__container {
  text-align: center;
}
.canvas__equalizer {
  width: 80%;
  height: 100px;
  display: inline-block;
  background-color: black;
}

.canvas__volume {
  width: 15%;
  height: 100px;
  // display: inline-block;
  background: #333333;
}


.btn-soundcloud {
  background: #ff5500;
  color: #ffffff;
  font-weight: 900;
  border: 1px solid #ff5500;
}

.btn-spotify {
  background: #1ed760;
  color: #ffffff;
  font-weight: 900;
  border: 1px solid #1ed760;
}

.dance__container {
  margin-top: 2em;
}
.dance-search__container {
  // margin: 1em auto;
  width: 45%;
  display: inline-block;
  padding: 1em;
  vertical-align: top;
}

.dance-btn__container {
  margin: 1em 0;

}
.dance-tracks__container {
  // width: 45%;
  display: inline-block;
}


.monster__container {
  width: 45%;
  margin: 20px auto;
  position: relative;
  height: 280px;
  display: inline-block;
}


.monster__body {
  position: absolute;
  // top: 0;
}

.monster__hat {
  position: absolute;
  // width: 35%;
  // left: 45%;
  // top: -20px;
}

.monster__arm-left {
  position: absolute;
  // width: 30%;
  // top: 50%;
  // left: -20px;
}

.monster__arm-right {
  position: absolute;
  // width: 30%;
  // top: 50%;
  // right: -20px;
}
