.drums__svg {
  position: relative;
}

#stick-left {
  position: absolute;
}

.drum-monster__container {
  padding: 0 2em;
}

.drums__instructions {
  text-align: center;
  font-size: 0.8em;
  padding-top: 4em;
}
