.footer__container {
  max-width: 100%;
  text-align: center;
  border-top: 1px solid white;
  position: fixed;
  bottom: 0;
  height: 30px;
  line-height: 30px;
  width: 100%;
  background: black;
  @media screen and (min-width: 600px) {
    height: 50px;
    line-height: 50px;
  }

}

.footer__list-item {
  display: inline;
  padding: 0 1em;
  color: white;
  @media screen and (min-width: 600px) {
    display: inline;
    padding: 0 1em;
  }
}

.footer__nav-toggle {
  cursor: pointer;
  @media screen and (min-width: 600px) {
    display: none;
  }
}
