.main__container {
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  top: 120px;
  margin-bottom: 150px;
  min-height: 100vh;
  @media screen and (min-width: 600px) {
    top: 150px;
  }
}

.main__title {
  text-align: center;
  padding: 1em 0;
}

body {
  background: $primary;
}

* {
  color: white;
}
