.piano__note {
  // padding: 1em 0;
  font-size: 4em;
}

.piano__svg {
  margin-top: 50px;
  padding-top: 20px;
  padding-right: 10px;
}

.piano-note__container {
  width: 20%;
  margin: 0 auto;
  text-align: center;
  border: 1px solid white;
  border-radius: 10px;
  padding-top: 10px;
  height: 120px;
  padding: 1em;
}
