.snapshot__tooltip {
  position: absolute;
  display: inline-block;
  text-align: center;

  min-height: 30px;
  padding: 0.5em 1em;
  width: 25%;

  background: tomato;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.snapshot__tooltip--line1 {
  font-style: italic;
}

.snapshot__tooltip--line2 {
  font-size: 0.8em;
}

.snapshot__tooltip--line2-details {
  font-weight: 900;
  font-size: 1rem;
}

.snapshot-svg {
  border-bottom: 1px solid white;
}

.snapshot-svg__container {
  text-align: center;
  position: relative;

}

.snapshot-monster__container {
  display: inline-block;
  width: 30%;
  text-align: right;
  position: absolute;
  top: 0;
  right: 2em;
}
